<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<context:annotation-config />
	
	<!-- 导入外部配置文件 -->
	<!-- 
	<context:property-placeholder location="classpath:service.properties" />
	 -->	 
	<bean id="serviceCallManager" class="bma.servicecall.core.Manager"/>
	
	<!-- ServiceMethods -->
	<bean id="SMHello" class="bma.servicecall.usecase.service.SMHello"/>
	
	<!-- ServiceCallMux -->
	<bean id="serviceCallMux" class="bma.servicecall.core.ServiceMux">
		<property name="serviceMethods">
			<map>
				<entry key="test:hello" value-ref="SMHello" />
			</map>
		</property>
	</bean>
	
	<!-- server -->
    <bean id="server" class="bma.servicecall.sockserver.ServiceCallSocketServer"
		destroy-method="close">
		<property name="clientFactory" ref="serviceCallManager"/>
		<property name="port" value="1080" />
		<property name="log" value="true" />
		<property name="executors" value="10" />
		<property name="maxContentLength" value="10485760" />
		<property name="serviceMux" ref="serviceCallMux" />
	</bean>	
	
	<!-- booter -->
	<bean id="booter" class="bma.servicecall.boot.SimpleServerBooter">
        <property name="main" ref="server"/>
    </bean>	  

</beans>
